{% extends "index.html" %}
{% block body %}
<div class="px-5">
    <div class="d-flex align-items-cente pt-4 pb-1">
        <h1 class="">Add a New Recipe! {{user.first_name}}</h1>
        <a href="/create_recipe/" class="ms-auto me-5">create</a>
        <a href="/logout/" >logout</a>
    </div>
    <h5 class="pb-2">All posted recipes</h5>
    <table class="mx-auto table table-striped table-primary border-dark table-hover text-center ">
        <thead>
            <tr class="">
                <th scope="col">Name</th>
                <th scope="col">Under 30</th>
                <th scope="col">Posted by</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for recipe in recipes %}
            <tr>
                <td>{{recipe.name}}</td>
                <td>{{recipe.under_30}}</td>
                <td>{{recipe.posted_by.first_name}}</td>
                <td>
                    <a href="/recipe_view/">view recipe</a>
                    {% if user.id == recipe.posted_by_id %}
                    | <a href="/recipe_edit/">edit</a>
                    | <a href="/recipe_delete/">delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock body %}