* {
    margin:0px;
    border:0px;
    padding:0px;
    box-sizing: border-box;
    vertical-align: top;
    outline: red 1px dotted;
    font-size: x-large;
}
input,textarea {
    border: 3px black solid;
}
input[type="submit"] {
    box-shadow: 5px 5px 5px black;
}
table {
    border-top: 3px black inset;
    border-left: 3px black solid;
    border-bottom: 3px black solid;
}
th, td {
    border-right: 3px black inset;
}